<!DOCTYPE html>
<html>
<head>
    <title>产品类型</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div>
        <div id="chart" style="height: 700px"></div>
        <!--<table id="jqGrid"></table>-->
        <!--<div id="jqGridPager"></div>-->
    </div>
</div>
<script src="${request.contextPath}/statics/js/echarts.js"></script>
<script src="${request.contextPath}/statics/js/modules/data/cases.js"></script>
<script src="${request.contextPath}/statics/js/modules/data/chart.js"></script>
</body>
</html>
